:host {
  height: calc(100dvh - 80px);
  display: block;

  .tabs {
    .tab {
      text-align: center;
      font-weight: bold;
      border-radius: 0;
      cursor: pointer;

      &.active-tab {
        border-bottom: solid 3px teal;
      }
    }
  }

  .add-button {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 2;

    i {
      font-size: 2rem;
    }
  }
}
