:host {
  border: var(--spinner-border, 10px) solid var(--spinner-color, teal);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  width: var(--spinner-width, 100%);
  height: var(--spinner-width, 100%);
  display: block;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
