:host {
  .shoe-img {
    object-fit: contain;
    max-width: 100%;
  }

  .shoe-name {
    height: 2.4em;
    line-height: 1.2em;
  }

  .btn-delete {
    min-width: 50px;

    app-spinner {
      --spinner-border: 2px;
      --spinner-color: white;
    }
  }
}
